<link rel="stylesheet" href="css/libs/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="css/libs/bootstrap-theme.min.css" type="text/css"/>
<link rel="stylesheet" href="css/libs/jquery-ui.min.css" type="text/css"/>
<link rel="stylesheet" href="css/libs/jquery-ui.structure.min.css" type="text/css"/>
<link rel="stylesheet" href="css/libs/jquery-ui.theme.min.css" type="text/css"/>
<link rel="stylesheet" href="css/libs/li-scroller.css" type="text/css"/>

<script src="js/libs/jquery-2.2.0.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/libs/jquery-ui.min.js"></script>
<script src="js/libs/jquery.li-scroller.js"></script>