<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>SUPINFO Home Planning - Admin</title>

        <div th:include="common/themes_and_scripts"/>
        <link rel="stylesheet" href="css/templates/admin.css" type="text/css"/>

        <!-- boostrap file upload -->
        <link href="css/libs/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
        <script src="js/libs/fileinput.min.js"></script>
        <script src="js/libs/jquery-dataTables.min.js"></script>
        <script src="js/templates/admin.js"></script>
    </head>
    <body>
        <header th:include="section/header"/>

        <div id="tabs" class="tabs_container">
            <ul>
                <li><a href="#tabs-1" th:text="#{admin.tab.planning}">_planning</a></li>
                <li><a href="#tabs-2" th:text="#{admin.tab.messages}">_messages</a></li>
            </ul>
            <div id="tabs-1">
                <!-- Planning -->
                <div>
                    <form th:action="@{/admin/planning/upload}" method="post" class="form-signin" enctype="multipart/form-data">
                        <label class="control-label" th:text="#{admin.planning.select_file}">Select File</label>
                        <input id="input-planning-file" type="file" class="file" name="file" />
                        <br/>
                        <button type="submit" class="btn btn-primary" th:text="#{admin.planning.send}">Submit</button>
                        <button type="reset" class="btn btn-default" th:text="#{admin.planning.reset}">Reset</button>
                    </form>
                </div>
            </div>
            <div id="tabs-2">
                <table id="table_messages" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th th:text="#{admin.messages.header.id}">ID</th>
                            <th th:text="#{admin.messages.header.message}">Message</th>
                            <th th:text="#{admin.messages.header.action}">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="message : ${adminModel.messages}">
                            <td th:text="${message.id}">1</td>
                            <td th:text="${message.message}">Text ...</td>
                            <td>
                                <button type="button" class="btn btn-danger" th:text="#{admin.messages.button.delete}"
                                 th:id="bt_delete_message" onclick="deleteMessage(this)">Supprimer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button id="bt_add_message" type="button" class="btn btn-primary" th:text="#{admin.messages.add}">Primary</button>
            </div>
        </div>

        <div id="popup_add_msg" class="popup_block">
            <form id="form_new_message" th:action="@{/admin/message/add}" method="post">
                <fieldset>
                    <label for="new_message_box">Message</label>
                    <textarea cols="50" rows="10" th:name="message" id="new_message_box" value="" class="text ui-widget-content ui-corner-all"></textarea>

                    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
                </fieldset>
            </form>
        </div>

        <script type="text/javascript">

            // Permet de cacher les boutons générés par jquery lors de la selection du planning
            $(function() {
                $("input:file").change(function (){
                    $(".fileinput-remove").css("display","none");
                    $(".fileinput-cancel").css("display","none");
                    $(".fileinput-upload").css("display","none");
                });
            });
        </script>
    </body>
</html>