<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>SUPINFO Home Planning - Admin</title>

        <div th:include="common/themes_and_scripts"/>
        <link rel="stylesheet" href="css/templates/admin.css" type="text/css"/>

        <!-- boostrap file upload -->
        <link href="css/libs/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
        <script src="js/libs/fileinput.min.js"></script>
        <script src="js/libs/jquery-dataTables.min.js"></script>
    </head>
    <body>
        <header th:include="section/header"/>

        <div id="tabs" class="tabs_container">
            <ul>
                <li><a href="#tabs-1" th:text="#{admin.tab.planning}">_planning</a></li>
                <li><a href="#tabs-2" th:text="#{admin.tab.messages}">_messages</a></li>
            </ul>
            <div id="tabs-1">
                <!-- Planning -->
                <div>
                    <form th:action="@{/admin/planning/upload}" method="post" class="form-signin" enctype="multipart/form-data">
                        <label class="control-label" th:text="#{admin.planning.select_file}">Select File</label>
                        <input id="input-planning-file" type="file" class="file" name="file" />
                        <br/>
                        <button type="submit" class="btn btn-primary" th:text="#{admin.planning.send}">Submit</button>
                        <button type="reset" class="btn btn-default" th:text="#{admin.planning.reset}">Reset</button>
                    </form>
                </div>
            </div>
            <div id="tabs-2">
                <table id="table_messages" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="message : ${adminModel.messages}">
                            <td th:text="${message.id}">1</td>
                            <td th:text="${message.message}">Text ...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $("#tabs").tabs();
                $("#input-planning-file").fileinput({
                    showUpload: false,
                    showRemove: false,
                    showPreview: false,
                    allowedFileExtensions : ['csv']
                });
                $("#table_messages").DataTable( {
                    pageLength: 10,
                    scrollCollapse: true,
                    paging:         false,
                    searching: false
                } );
            } );

        </script>
    </body>
</html>