<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>SUPINFO Home Planning</title>

        <div th:include="common/themes_and_scripts"/>
    </head>
    <body>
    <script type="text/javascript">
        $(function(){
            $("ul#ticker01").liScroll();
        });
    </script>
        <header th:include="section/header"/>


        <ul id="ticker01" >

            <li th:each="message : ${homeModel.messages}"><span th:text="${message}"></span></li>
        </ul>

    </body>
</html>