<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>SUPINFO Home Planning</title>

    <div th:include="common/themes_and_scripts"/>
    <link rel="stylesheet" href="css/templates/home.css" type="text/css"/>

</head>
<body>
<script type="text/javascript">
    $(function () {
        $("ul#ticker01").liScroll();
    });
</script>

<div class="container">

    <div class="row" id="asc1_planning_container" style="margin-top: 30px;">

        <div class="col-md-1" style="background-color:dodgerblue; height: 100px;">
            <p>A.Sc 1</p>
        </div>
        <div class="col-md-11" style="height: 100px;">
            <ul class="planningItems">
                <li><a href="#">first</a></li>
                <li><a href="#">second</a></li>
            </ul>
        </div>

    </div>
    <div class="row" id="asc2_planning_container" style="margin-top: 15px;">

        <div class="col-md-1" style="background-color:dodgerblue; height: 100px;">
            <p>A.Sc 2</p>
        </div>
        <div class="col-md-11" style="height: 100px;">
            <ul class="planningItems">
                <li><a href="#">first</a></li>
                <li><a href="#">second</a></li>
            </ul>
        </div>

    </div>

    <div class="row" id="bsc_planning_container" style="margin-top: 15px;">

        <div class="col-md-1" style="background-color:dodgerblue; height: 100px;">
            <p>B.Sc</p>
        </div>
        <div class="col-md-11" style="height: 100px;">
            <ul class="planningItems">
                <li><a href="#">first</a></li>
                <li><a href="#">second</a></li>
            </ul>
        </div>

    </div>

    <div class="row" id="msc1_planning_container" style="margin-top: 15px;">

        <div class="col-md-1" style="background-color:dodgerblue; height: 100px;">
            <p>M.Sc 1</p>
        </div>
        <div class="col-md-11" style="height: 100px;">
            <ul class="planningItems">
                <li><a href="#">first</a></li>
                <li><a href="#">second</a></li>
            </ul>
        </div>

    </div>

    <div class="row" id="msc2_planning_container" style="margin-top: 15px;">

        <div class="col-md-1" style="background-color:dodgerblue; height: 100px;">
            <p>M.Sc 2</p>
        </div>
        <div class="col-md-11" style="height: 100px;">
            <ul class="planningItems">
                <li><a href="#">first</a></li>
                <li><a href="#">second</a></li>
            </ul>
        </div>

    </div>


</div>

<ul id="ticker01">

    <li style="white-space:pre;" th:each="message : ${homeModel.messages}"><span th:text="${message + '            '}"></span></li>
</ul>


</body>
</html>
