<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>SUPINFO Home Planning</title>

    <div th:include="common/themes_and_scripts"/>
    <link rel="stylesheet" href="css/templates/home.css" type="text/css"/>

</head>
<body>
<script type="text/javascript">
    $(function () {
        $("ul#ticker01").liScroll();
    });
</script>

<div class="container">

    <div class="row" id="asc1_planning_container" style="margin-top: 30px;">

        <div class="col-md-1 classNames">
            <p>A.Sc 1</p>
        </div>
        <div class="col-md-11" style="height: 100px;">
            <ul id="asc1_planning_ul" class="planningItems" style="text-align: center">
                <li th:each="course : ${homeModel.asc1planning}">
                    <span style="font-size:15px; padding-bottom: 1%;" th:text="${course.name}"></span><br/>
                    <span  style="font-size:20px; font-weight: bold;"  th:text="Salle + ${course.salle}"></span>
                </li>
            </ul>
        </div>

    </div>
    <div class="row" id="asc2_planning_container" style="margin-top: 15px;">

        <div class="col-md-1 classNames">
            <p>A.Sc 2</p>
        </div>
        <div class="col-md-11" style="height: 100px;">
            <ul id="asc2_planning_ul" class="planningItems">
                <li th:each="course : ${homeModel.asc2planning}">
                    <span style="font-size:15px; padding-bottom: 1%;" th:text="${course.name}"></span><br/>
                    <span  style="font-size:20px; font-weight: bold;"  th:text="Salle + ${course.salle}"></span>
                </li>
            </ul>
        </div>

    </div>

    <div class="row" id="bsc_planning_container" style="margin-top: 15px;">

        <div class="col-md-1 classNames">
            <p>B.Sc</p>
        </div>
        <div class="col-md-11" style="height: 100px;">
            <ul id="bsc_planning_ul" class="planningItems">
                <li th:each="course : ${homeModel.bscplanning}">
                    <span style="font-size:15px; padding-bottom: 1%;" th:text="${course.name}"></span><br/>
                    <span  style="font-size:20px; font-weight: bold;"  th:text="Salle + ${course.salle}"></span>
                </li>
            </ul>
        </div>

    </div>

    <div class="row" id="msc1_planning_container" style="margin-top: 15px;">

        <div class="col-md-1 classNames">
            <p>M.Sc 1</p>
        </div>
        <div class="col-md-11" style="height: 100px;">
            <ul id="msc1_planning_ul" class="planningItems">
                <li th:each="course : ${homeModel.msc1planning}">
                    <span style="font-size:15px; padding-bottom: 1%;" th:text="${course.name}"></span><br/>
                    <span  style="font-size:20px; font-weight: bold;"  th:text="Salle + ${course.salle}"></span>
                </li>
            </ul>
        </div>

    </div>

    <div class="row" id="msc2_planning_container" style="margin-top: 15px;">

        <div class="col-md-1 classNames">
            <p>M.Sc 2</p>
        </div>
        <div class="col-md-11" style="height: 100px;">
            <ul id="msc2_planning_ul" class="planningItems">
                <li th:each="course : ${homeModel.msc2planning}">
                    <span style="font-size:15px; padding-bottom: 1%;" th:text="${course.name}"></span><br/>
                    <span  style="font-size:20px; font-weight: bold;"  th:text="Salle + ${course.salle}"></span>
                </li>
            </ul>
        </div>

    </div>


</div>

<ul id="ticker01">

    <li style="white-space:pre;" th:each="message : ${homeModel.messages}"><span th:text="${message + '            '}"></span></li>
</ul>


</body>


<script>
    $(document).ready(function() {
        var asc1Count =  $("#asc1_planning_ul").children().length;
        var asc1WidthPercent = 95;
        if(asc1Count > 0) { asc1WidthPercent = 95/asc1Count; }
        $('#asc1_planning_ul li').each(function( index ) {
            $(this).css({width : asc1WidthPercent+'%'});
        });
        
        var asc2Count =  $("#asc2_planning_ul").children().length;
        var asc2WidthPercent = 95;
        if(asc2Count > 0) { asc2WidthPercent = 95/asc2Count; }
        $('#asc2_planning_ul li').each(function( index ) {
            $(this).css({width : asc2WidthPercent+'%'});
        });
        
        var bscCount =  $("#bsc_planning_ul").children().length;
        var bscWidthPercent = 95;
        if(bscCount > 0) { bscWidthPercent = 95/bscCount; }
        $('#bsc_planning_ul li').each(function( index ) {
            $(this).css({width : bscWidthPercent+'%'});
        });
        
        var msc1Count =  $("#msc1_planning_ul").children().length;
        var msc1WidthPercent = 95;
        if(msc1Count > 0) { msc1WidthPercent = 95/msc1Count; }
        $('#msc1_planning_ul li').each(function( index ) {
            $(this).css({width : msc1WidthPercent+'%'});
        });
        
        var msc2Count =  $("#msc2_planning_ul").children().length;
        var msc2WidthPercent = 95;
        if(msc2Count > 0) { msc2WidthPercent = 95/msc2Count; }
        $('#msc2_planning_ul li').each(function( index ) {
            $(this).css({width : msc2WidthPercent+'%'});
        });
    });
</script>

</html>
